<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing page</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<body>
<% if(user) {%>
<h2><%=user.name %></h2>
<a href="/profile">Profile</a>
<a href="/post/newpost">Add a new post</a>
<a href="/logout">Logout</a>

<% } else { %>
<a href="/login">Login</a>
<a href="/register">Register</a>
<% } %>