<% include ./partials/header %>

 <row>

  <section class="col-md-4 col">
    <div class="inner-block">
      <h3>Users online</h3>
      <ul id="users"></ul>
    </div>

  </section>
  <section class="col-md-4 col">
    <form class="inner-block" id="message-form">
      <h3>Send message</h3>
      <div class="form-group">
        <input type="hidden" class="form-control" name="destination" id="destination" value="" />
      </div>
      <div class="form-group">
        <label for="message">Message:</label>
        <textarea class="form-control" rows="7" cols="30" name="message" id="message-box"></textarea>
      </div>
      <button class="btn btn-primary">Send message</button>
    </form>
  </section>
  <section class="col-md-4 col">
    <div class="inner-block">
      <h3>Received messages</h3>
      <div id="messages"></div>
    </div>
  </section>
</row>

<% include ./partials/footer %>