<% include ./partials/header %>
<form action="/forgot" method="post">
<label for="email">Email</label>
<input type="email" name="email" id="email">
<input type="submit" value="forgot">
</form>
<% include ./partials/footer %>