<% include ./partials/header %>
<form action="/login" method="post">
<label for="email">Email</label>
<input type="text" name="email" id="email">
<label for="password">Password</label>
<input type="password" id="password" name="password">
<input type="submit" value="resgiter">
</form>
<a href="/forgot">Forgot password</a>
<% include ./partials/footer %>