<% include ./partials/header %>
<form action="/post" method="post" enctype="multipart/form-data">
<input type="text" name="title" placeholder="Title">
<textarea  name="body" placeholder="Body">

</textarea>
<input type="file" name="photo" accept="application/pdf">
<input type="submit" value="Add post">
</form>
<% include ./partials/footer %>