<% include ./partials/header %>
<form action="/post/<%= postid %>/comment/<%= comment._id %>" method="post">
<input type="text" name="title" placeholder="Title" />
<textarea  name="body" rows=3>

</textarea>
<input type="submit" value="Add comment">
</form>
<% include ./partials/footer %>