<form action="/account/reset/<%= token %>" method="post">
<label for="password">New password</label>
<input type="password" id="password" name="password">
<label for="confirm-password">COnfirm new password</label>
<input type="password" id="confirm-password" name="confirm-password">
<input type="submit" value="submit">
</form>